*{
font-family: 'Inter', sans-serif;
    
    color:black;
font-size: 110%;
}

body 
{
    background-image: url(../Backgrounds/PastWorksBG.jpg);
	background-repeat: no-repeat;
	background-color:#C5C5C5;
	background-size:cover;	
    background-attachment: fixed;
}

#Poster{
    background-size:cover;
}

#WebTitle {
    text-align: center;
    position:relative;
}

/*Adjust header sizes*/
h1{
    font-size: 225%;
}
h2 {
    font-size:200%;
}
h3 {
font-size: 175%;
}

h4 {
font-size:150%;
}

h5 {
font-size: 115%;
}

hr{
    height:3px;
    background:black;
}

/*Back To Top: used in Pastworks_programming*/
.BACKTOTOP{
    position: fixed;
    bottom: 0;
    right:0;
    background-color: lightblue;
    opacity: 0.75;
    
    border-top-left-radius: 100%;
    width:200px;
    height:100px;
}

/*When hovering over back to top, set opacity to 1*/
.BACKTOTOP:hover{
    opacity: 1;
}


#backtotopP{
    font-size:100%;
    position:absolute;
    text-align: right;
    bottom:0;
    right:0;
}

#BackToTopA:hover{
    color: red;
}

#BackToMainA:hover{
    color:red;
}