*{
font-family: 'Inter', sans-serif;
    
    color:black;
font-size: 110%;
}

body 
{
	background-repeat: no-repeat;
	background-color:#C5C5C5;
	background-size:cover;	
}

#Poster{
    background-size:cover;
}

#WebTitle {
    text-align: center;
    position:relative;
}

/*Adjust header sizes*/
h1{
    font-size: 225%;
}
h2 {
    font-size:200%;
}
h3 {
font-size: 175%;
}

h4 {
font-size:150%;
}

h5 {
font-size: 115%;
}

hr{
    height:3px;
    background:black;
}