*{
    font-family: 'Shizuru', cursive;
    color:black;
    font-size: 110%;   
}

body 
{
	background-image:linear-gradient(to bottom, dodgerblue,skyblue);
    overflow-x:hidden;
    margin:0;
    padding:0;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Adjust header sizes*/
h1{
    font-size: 225%;
}
h2 {
    font-size:200%;
}
h3 {
font-size: 175%;
}

h4 {
font-size:150%;
}

h5 {
font-size: 115%;
}

hr{
    height:3px;
    background:black;
}

@keyframes BringOutTab{
    from 
    {
        width: 50px;
        height:50px;
        opacity: 0.75;
        font-size: 0%;
    }
    
    to 
    {
        width: 175px;
        height: 125px;
        opacity: 1;
        font-size: 150%;
    }
}

/*BackToTop (bottom right div) code*/
.BACKTOTOP{
    position: fixed;
    bottom: 0;
    right:0;
    background-color: greenyellow;
    opacity: 0.75;
    
    border-top-left-radius: 100%;
    width:50px;
    height:50px;
    font-size: 0%;
    
    display: block;
    text-align: center;
}

.BACKTOTOP:hover{
    animation: BringOutTab 0.5s;
    animation-fill-mode: forwards;
}

.BackToTopPara{
    
    position:absolute;
    bottom:0;
    right:25%;
}

.link:hover{
    color: red;
}
