*{
    font-family: 'Shizuru', cursive;
    color:black;
    font-size: 110%;   
}

body 
{
	background-image:linear-gradient(to bottom, dodgerblue,skyblue);
    overflow-x:hidden;
    margin:0;
    padding:0;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Adjust header sizes*/
h1{
    font-size: 225%;
}
h2 {
    font-size:200%;
}
h3 {
font-size: 175%;
}

h4 {
font-size:150%;
}

h5 {
font-size: 115%;
}

hr{
    height:3px;
    background:black;
}


