*{
font-family: 'Gloria Hallelujah', cursive;
    background-color:black;
    color:white;
    box-sizing: border-box;
}
@media(min-width:100px){
   #familyphoto{
        width:50%;
    }  
}
   

#indexaboutme,#indexaboutmetext,#indexaboutmetext1,#indexaboutmetext2,#ContentBlock1,#ContentBlock2,#ContentBlock3,#indexaboutmetext11,#indexaboutmetext22,#ContentBlock11,#ContentBlock22,#ContentBlock33,#ContentBlock4,#ContentBlock44 {
    text-align: center;
    position:relative;
    color:black;
}
#indexaboutmetext,#indexaboutme{
background-color: white;
}
#indexaboutmetext,#indexaboutmetext1,#indexaboutmetext2,#ContentBlock1,#ContentBlock2,#ContentBlock3,#ContentBlock4{
    display:none;
}
#indexaboutmetext1,#indexaboutmetext11{
    background-color:yellow;
}
#indexaboutmetext2,#indexaboutmetext22{
    background-color: aqua;
}
#ContentBlock1,#ContentBlock11{
    background-color:lawngreen;
}
#ContentBlock2,#ContentBlock22{
    background-color:fuchsia;
}
#ContentBlock3,#ContentBlock33{
    background-color:red;
}
#ContentBlock4,#ContentBlock44{
    background-color:blue;
}
#AboutMeHeader3 {
    text-align: center;
}
#IndexAboutMe {
    text-align: center;
}
.SocialImg {
    width:  5%;
    height: 5%;
}
.SocialLink{
    background-color: inherit;
}
#AbtMeBlock {
    background-color: blue;
    color:black;
}
mark{
    background-color: white;
    color: black;
}
#ContentLinks1{
    text-align: left;
}
#HeaderAboutMe{
    background-color: white;
    color: black;
    text-align: center;
     
}
#EduBacktoTop {
    position: fixed;
    bottom: 0;
    right:0;
    background-color: inherit;
}

#AbtMeBacktoTop{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color:inherit;
}
#EduPic{
width: 100%;}
#EduTop {
text-align: center;
}
#RandomButton {
    background-color: white;
    color: black;
}
#CCAAchievements, #CCAAchievementsSlideDown {
    text-align: center;
    background-color: red;
}
#CCAAchievementsSlideDown {
    display:none;
}
.JumpToOtherSlideDown,.JumpToOther {
        text-align: center;
    font-size: 15px;
    background-color: blue;
    position:fixed;
    opacity: 0.5;  
}
.JumpToOther {
    width:20px;
    height:30px;
}
.JumpToOtherSlideDown{
    display: none;
}
.JumpToOtherSlideDown a {
    font-size: 15px;
    background-color: blue;
}
#ContactMeGames,#ContactMeFood{
    position:relative;
    background-color: gold;
    color:black;
    opacity:0.5;
}
.Image,#Magic{
    width:25%;
    height:25%;
}
#Magic{
    display:none;
}
#Confirm,#Confirm1,#Confirm2,#Confirm3,#Confirm4{
    color:black;
    background-color: cornsilk;
    display:none;
}
#Square{
    background-color: dodgerblue;
    position: absolute;
    height: 5%;
    width: 5%;
}
#tada{
    display:none;
}